DATABASE_URL="postgresql://postgres:user@password:5432/sp"
NODE_ENV="development"
IAM_BASE_URL="http://localhost:5002"
DISABLE_GATEWAY_CREDENTIALS=true
PORT=5000
JWT_SECRET=your-production-jwt-secret
JWT_EXPIRES_IN=7d