services:
  # -----------------
  # POSTGRES
  # -----------------
  postgres:
    image: postgres:16-alpine
    container_name: dev-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - backend

  # -----------------
  # MYSQL
  # -----------------
  mysql:
    image: mysql:8
    container_name: dev-mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: mysql
      MYSQL_USER: mysql
      MYSQL_PASSWORD: mysql
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - backend

  # -----------------
  # REDIS
  # -----------------
  redis:
    image: redis:7-alpine
    container_name: dev-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - backend

  # -----------------
  # ZOOKEEPER
  # -----------------
  zookeeper:
    image: zookeeper:3.9
    container_name: dev-zookeeper
    restart: unless-stopped
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
    ports:
      - "2181:2181"
    networks:
      - backend

  # -----------------
  # KAFKA
  # -----------------
  kafka:
    image: apache/kafka:3.9.1
    container_name: dev-kafka
    restart: unless-stopped
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
    networks:
      - backend

  dev:
    build:
      context: ../../../
      dockerfile: .devcontainer/Dockerfile
    container_name: finverse-dev
    working_dir: /workspace
    command: sleep infinity

    volumes:
      - ../../../:/workspace:cached

    networks:
      - backend
    
    ports:
      - "3000:3000"
      - "5173:5173"   # Vite
      - "8080:8080"   # optional

# -----------------
# VOLUMES
# -----------------
volumes:
  postgres-data:
  mysql-data:
  redis-data:

# -----------------
# NETWORK
# -----------------
networks:
  backend:
    driver: bridge
