PORT=42069
DATABASE_URL=mysql://user:password@127.0.0.1:3306/chat
REDIS_URL=redis://127.0.0.1:6379
LOG_LEVEL=debug
CHAT_LOG_DB=true
CHAT_LOG_CACHE=true
CHAT_LOG_HTTP=true
CHAT_LOG_ERRORS=true
CHAT_LOG_STARTUP=true
